@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {	
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;    
	background: #fff;
	color: #333333;	
}

a:hover {text-decoration: none;}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

input:focus {
	outline: none;
}

::selection {
    color: white; 
    background: #ff7675;
}

::-webkit-selection {
    color: white; 
    background: #ff7675;
}

::-moz-selection {
    color: white; 
    background: #ff7675;
}

.scrolltotop {
    width: 40px;
    height: 40px;
    border-radius: 20px 20px 0 0;
    background: rgba(0,0,0,.5);
    display: block;
    text-align: center;
    padding-top: 8px;
    font-size: 22px;
    color: #ffffff;
    position: fixed;
    right: 5px;
    bottom: 5px;
    display: none;
    transition: 0.2s all ease;
    -webkit-transition: 0.2s all ease;
    -moz-transition: 0.2s all ease;
}

.scrolltotop:hover {   
    background: #000;
    color: #fff;
    box-shadow: 0px 0px 5px rgba(0,0,0,.5);
    -webkit-box-shadow: 0px 0px 5px rgba(0,0,0,.5);
    -moz-box-shadow: 0px 0px 5px rgba(0,0,0,.5);   
}

.container-fluid {
    padding-left: 40px;
    padding-right: 40px;
}


/*-- topheader area start --*/

.topheader {
    background: #64443F;
    padding: 15px 0;
}

.topheader-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.topheader-left a {
    display: inline-block;
    color: #fff;
    transition: all .2s ease;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
}

.topheader-left a:hover {
    opacity: .7;
}

.topheader-left a span {
    display: inline-block;
    margin-right: 15px;
}

.topheader-middle p {
    margin-bottom: 0;
    color: #fff;
    font-weight: 700;
}

/*-- topheader area end --*/

/*-- menu area start --*/
.menu-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-left {
    display: flex;
    align-items: center;
}

.menu-left-one a img {
    display: inline-block;
    width: 189px;
    position: absolute;
    left: 0;
    top: 0;
}

.menu-left-two ul li {
    display: inline-block;
    color: #6B4D48;
}

.menu-left-two  {
    margin-left: 200px;
}

.menu-left-two ul li a {
    color: #6B4D48;
    padding:0px 15px;
    display: inline-block;
    position: relative;
}

.menu-left-two ul li a:after {
    content: "";
    display: block;
    width: 0%;
    height: 5px;
    background: #6B4D48;
    position: absolute;
    left: 0;
    bottom: -30px;
    transition: all .2s ease;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
}

.menu-left-two ul li a:hover:after {
    width: 100%;
}

.menu-left-two ul li a:hover {
    color: #B28057;
}

.menu-left-two ul li a.active {
    color: #B28057;
}

.menu-left-two ul li a.active:after {
    width: 100%;
}

.menu-left-two {
    margin-left: 208px;
}

.menu-right ul li {
    display: inline-block;
    font-size: 24px;
}

.menu-right ul li a {
    color: #6B4D48;
    display: inline-block;
    padding: 23px 28px;
    border-left: 1px solid rgba(163, 122, 82,.5);
}

.menu-wrapper {
    position: relative;
}

.menu {
    border-bottom: 1px solid rgba(163, 122, 82,.5);
}

/*-- menu area end --*/

/*-- hero area start --*/
.hero {
    background-color: #FCF8F5;
    padding: 40px 0;
    padding-bottom: 20px;
}

.hero-one-left h2 {
    font-size: 60px;
    color: #B28057;
    margin-bottom: 0;
    line-height: 1;
}

.hero-one-left p {
    margin-bottom: 0;
    font-size: 48px;
    color: #6B4D48;
}

.hero-one-left h6 {
    font-size: 36px;
    color: #6B4D48;
    margin-top: 25px;
}

.hero-one-left a {
    display: inline-block;
    color: #fff;
    border-radius: 36px;
    background: #6B4D48;
    padding: 8px 24px;
    margin-top: 13px;
    transition: all .2s ease;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
}

.hero-one-left a:hover {
    opacity: .7;
}

.hero-left-two {
    margin-left: -100px;
}

.owl-theme .owl-nav.disabled + .owl-dots {
    margin-top: 25px;
}

.owl-theme .owl-dots .owl-dot span {
    width: 8px;
    height: 8px;
    background: #B28057;
    margin: 5px;
}

.owl-theme .owl-dots .owl-dot.active span {
    background: #6B4D48;
}

/*-- hero area end --*/

/* -- deal area start -- */
.deal-block {
    background-image: url(img/deal.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 50px;
    padding-bottom: 20px;
    margin-top: 30px;
}

.deal-heading h2 {
    font-size: 48px;
    color: #B28057;
    font-weight: 400;
}

.deal-heading p {
    margin-bottom: 0;
    font-size: 20px;
    font-weight: 300;
    color: #6B4D48;
}

.deal-left h3 {
    font-weight: 400;
    color: #B28057;
    font-size: 40px;
}

.deal-left-content {
    padding-left: 30px;
    padding-right: 120px;
}

.deal-left-content p {
    font-size: 16px;
    margin-bottom: 18px;
    color: #6B4D48;
    font-weight: 300;
    margin-top: 10px;
}

.deal-left-content-price p {
    margin-bottom: 0;
    font-size: 32px;
    font-weight: 700;
    color: #6B4D48;
}

.deal-left-content-price p span {
    display: inline-block;
    font-size: 26px;
    color: #B28057;
    font-weight: 400;
    margin-left: 50px;
    position: relative;
    top: 3px;
}

.countdown-container ul {
    display: flex;
    align-items: center;
    text-align: center;
    background: #fff;
    border-radius: 6px;
    box-shadow: 0px 1px 6px rgba(172, 170, 170,.5);
}

.countdown-container ul li {
    width: 100px;
    border-right: 1px solid #EBE2D9;
}
.countdown-container ul li {
    font-size: 14px;
    color: #6B4D48;
    font-weight: 500;
    text-transform: uppercase;
    padding: 8px 0;
}

.countdown-container ul li span {
    color: #B28057;
    font-size: 24px;
    font-weight: 500;
}

.deal-left-time {
    margin-top: 20px;
}

.deal-left-time a {
    display: inline-block;
    color: #fff;
    border-radius: 36px;
    background: #6B4D48;
    padding: 8px 24px;
    margin-top: 30px;
    transition: all .2s ease;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
}

.deal-left-time a:hover {
    opacity: .7;
}

.deal-pic {
    position: relative;
    margin-left: -100px;
}

/* -- deal area end -- */

/* -- product area start -- */
.product-heading h2 {
    font-size: 48px;
    color: #B28057;
    font-weight: 400;
}

.product-heading p {
    margin-bottom: 0;
    font-size: 20px;
    font-weight: 300;
    color: #6B4D48;
}

.product-tab button {
    display: inline-block;
    border: 0;
    outline: none;
    font-size: 14px;
    color: #fff;
    background: #B28057;
    border-radius: 30px;
    padding: 6px 22px;
    margin: 7px 4px;
    transition: all .2s ease;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
}

.product-tab button:hover {
    background: #6B4D48;
}

.mixitup-control-active {
    background: #6B4D48!important;
}

.activetab {
    background: #6B4D48!important;
}

.product-tab .controls {
    margin-top: 30px;
}

/* -- product area end -- */




/* =====================================
    Kamrul start
===================================== */

/* Feauture-area-css-start */
.feashdow-wrapper {
    box-shadow: 0px 1px 10px rgba(206, 206, 206,.5);
}

.featured-area {
    padding: 50px 0;
}

.feature-header {
    text-align: center;
    margin-bottom: 50px
}

.feature-header  h2 {
    color: #B28057;
    font-size: 48px;
    font-weight: 400;
    line-height: 63px;
}
.feature-header  p{
    color: #6B4D48;
    font-weight: 300;
    font-size:400;
}

.featured-item {
    text-align: center;
    border: 1px solid #D8D8D8;
    padding: 30px 6px;
    border-top: none;
}




.featured-item  .icon img{
    display: inline-block;
    width: 70px;
}

.featured-item   h4{
    color: #B28057;
    font-size: 32px;
    font-weight: 400;
    margin:10px 0;
}

.featured-item p {
    color: #6B4D48;
    font-weight: 300;
    font-size: 16px;
}

.featured-item .view-btn a {
    text-decoration: none;
    color: #6B4D48;
    font-size: 14px;
    font-weight: 400;
    transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
}

.featured-item .view-btn a:hover {
    opacity: 0.8;;
}

.featured-item .view-btn img {
    display: inline-block;
    width: 17px;
    margin-right: 10px;
}

.bl-none {
    border-left: none
}
.br-none {
    border-left: none
}

.featured-content {
	padding: 20px 0;
}

/* Feauture-area-css-end */

/* Footer-area-css-start  */
.footer-area{
    padding: 50px 0;
    background: #6B4D48;
    color: #fff;
}

.footer-area .footer-social {
    margin-top: 30px;
}

.footer-area .footer-social ul li {
    display: inline-block;
}
.footer-area .footer-social ul li a {
    display: block;
    text-align: center;
    color:  #6B4D48;
    background: #fff;
    width: 28px;
    height: 28px;
    line-height:30px;
    border-radius: 50%;
    margin-right: 7px;
    transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
}

.footer-area .footer-social ul li a:hover {
    opacity: 0.8;
}

 .footer-area h5 {
     font-size: 20px;
     font-weight: 400;
     color: #fff;
     margin-bottom: 28px;
 }

 .first-footer p {
     font-size: 14px;
     font-weight: 400;
     list-style: 22px;
 }
 .first-footer p a {
     text-decoration: underline;
     color: #fff;
     font-weight: 500;
     transition: all 0.2s ease;
     -moz-transition: all 0.2s ease;
     -webkit-transition: all 0.2s ease;
 }

 
 .footer-nav ul li {
     display: block;
 }

 .footer-nav ul li a{
     text-decoration: none;
     font-size: 14px;
     font-weight: 400;
     display: block;
     color: #fff;
     margin:5px 0;
     transition: all 0.2s ease;
     -moz-transition: all 0.2s ease;
     -webkit-transition: all 0.2s ease;
 }
.footer-nav ul li:first-child a{
    padding-top: 0;
}



/* Footer-area-css-end  */

/* copyright-area-start  */

.copyright-area {
    padding: 20px 0;
    background: #64443F;
}

.copyright-area p {
    margin-bottom: 0;
    font-size: 12px;
    font-weight: 400;
    color: #B2A29F;
}

.last-footer p {
    margin-bottom: 5px;
    color: #fff;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
}

/* copyright-area-start  */


